<% if !location.nil? %>
    <tr id="location_<%= location.id %>">
        <td>
            <%= location.address %>
        </td>
        <td>
            <%= location.latitude %>
        </td>
        <td>
            <%= location.longitude %>
        </td>
        <td>
            <%= link_to "X", location, method: :delete, data: { confirm: "Are you sure?" }, remote: true %>
        </td>
    </tr>
<% else %>
    <tr>
        <td>
            There was an error with your input. Please try again.
        </td>
        <td>
            ERR
        </td>
        <td>
            ERR
        </td>
        <td>
        </td>
    </tr>
<% end %>